Name: Saurabh S. Ramteke                                                       
Roll No: 21-27-19                                                               
M.Tech: Data Science

##### Q.1. What is the difference between two statements: print(9+2) and print(“9+2”) ?

In [1]:
print(9+2)
print("9+2")

11
9+2

Ans. First print statement evaluates the expression and then print the value. i.e. which is 9+2 = 1.                          
In the second print statement as the values are enclosed inside double quotes(we can also write it in single quotes) the python complier interprets it as string(variables) and print string as it is without doing anything.

##### Q.2. Why does 4+7*2 equates to 18 in python and not 22 ?

In [2]:
4+7*2

18

Python evalutes any computation using BODMAS rule, which consists of priority operator. And priority of '*' operator is higher than the priority of '+' operator. But if we want values should be equal to 22 then we need to add parathesis at appopirate locations.

In [3]:
(4+7)*2

22

##### Q3: Is there any difference between the following:
a=123456789 and a= 1.23456789 * 10 * *8

In [4]:
a = 123456789
print(a,type(a))

123456789 <class 'int'>

In [5]:
a= 1.2345678910 * 10 ** 8 
print(a,type(a))

123456789.1 <class 'float'>

Yes, 1st assignment is of type integer, and 2nd assignment is of type float(a real no.)

##### Q4: What is the meaning of a<123456789 in python ?

In [6]:
a < 123456789

False

It is an operator which checks whether the variable is less than that of given value. If yes then it returns True, else it returns False. In our case it is equal to the value. Hence, it returns False.

##### Q5: What is output of the following in python and what is the type of variable:
a=1/2

In [7]:
a = 1/2
print(a, type(a))

0.5 <class 'float'>

It reassigns the value 0.5 to the variable a, and the previous value is lost.
Its type is float because it is a real number.

##### Q6: Are both the statements same :
a=1/2 and a= 1/ 2.0

In [8]:
a = 1/2
print(a, type(a))

0.5 <class 'float'>

In [9]:
a = 1/2.0
print(a, type(a))

0.5 <class 'float'>

Both the operations are similar

##### Q7: Can you write the following expression in fewer terms in python?
( age == 21 and height == 120 ) or ( age == 21 and height == 140 )

In [10]:
age = 21
height = 130
age == 21 and (height == 120 or height == 140)

False

##### Q8: Write a program in python to display those items from a list of 10 numbers that is divisible by 3

In [11]:
ls = []

for no in range(40):
    if no != 0 and no % 3 == 0 and len(ls) != 10:
        ls.append(no)

print(ls)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

##### Q9: val = ( ( 3 , 2 ) , ( 5 , 7 ) , ( 1 , 9 ) , 0 , ( 1 ) )
Then what is the output of :                              
I. len(val)                           
II. val[1]                              
III. print (val[2][0])                         
IV. print(val[3][0])                                              
V. print(val[x][y]) for what values of x and y the output will be 9                   
VI. what is the type val[0] and val[4]

In [12]:
val = ((3,2), (5,7), (1,9), 0, (1))

print(f'   Val: {val}')
print(f'1. len(val): {len(val)}')
print(f'2. val[1]: {val[1]}')
print(f'3. val[2][0]: {val[2][0]}')

print(f'5. val[x][y] = 9 => val[2][1]: {val[2][1]}')
print(f'6. type(val[0]): {type(val[0])}')
print(f'7. type(val[4]): {type(val[4])}')

   Val: ((3, 2), (5, 7), (1, 9), 0, 1)
1. len(val): 5
2. val[1]: (5, 7)
3. val[2][0]: 1
5. val[x][y] = 9 => val[2][1]: 9
6. type(val[0]): <class 'tuple'>
7. type(val[4]): <class 'int'>

print('val[3][0]'):
'int' object is not subscriptable.

##### Q10: What is the output of the following python snippet:
x,y,z =1,2 ,x**3

In [13]:
x,y,z = 1,2,x**3
print(x,y,z)

NameError: name 'x' is not defined

This error is comming because we are intializing all the elements at the same time but python compiler runs one line at a time, and it searches for variable 'x' defined before this line, which is not the case. Hence if we want our program to run, then we need to initalize 'x' variable before or we need to initilize 'z' variable after the line.

In [ ]:
# correct syntax
x,y = 1,2
z = x**3
print(x,y,z)